:root {
  --ready-color: seagreen;
  --bright-wood-color: #ecc59a;
  --bright-wood-color-2: #e7bc8e;
  --dark-wood-color: #4b3429;
  --dark-wood-color-2: rgb(66, 46, 32);
  --white-piece-color: rgb(255, 242, 228);
  --white-piece-color-2: rgb(255, 250, 244);
  --black-piece-color: rgb(30, 21, 14);
  --main-background-color: var(--white-piece-color-2);
  --main-background-color-2: var(--white-piece-color);
  --main-text-color: var(--dark-wood-color-2);
  --black-piece-border: black;
  --white-piece-border: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: relative;
  font-size: 16px;
  line-height: 1.6;
  background: repeating-linear-gradient(-45deg,
      var(--white-piece-color) 7px,
      var(--white-piece-color) 5px,
      var(--white-piece-color-2) 10px,
      var(--white-piece-color-2) 400px);
  color: var(--main-text-color);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.counter {
  display: flex;
  gap: 20px;
  background-color: var(--bright-wood-color);
  padding: 10px 20px;
  border: 1px solid var(--bright-wood-color);
  border-radius: 5px;
}

.counter div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.next-player {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
}

.occupied {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.occupied.whitePiece {
  background-color: var(--white-piece-color);
  outline: solid 3px var(--white-piece-border);
  outline-offset: -4px;
}

.occupied.blackPiece {
  background-color: var(--black-piece-color);
  outline: solid 3px var(--black-piece-border);
  outline-offset: -4px;
}


.game {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;

  background: repeating-linear-gradient(45deg,
      var(--dark-wood-color),
      var(--dark-wood-color) 10px,
      var(--dark-wood-color-2) 10px,
      var(--dark-wood-color-2) 20px);

  border: solid;
  box-shadow: black 1px 1px 5px 1px;
  border-width: 5px;
}

.game .row {
  width: 100%;
  height: 10%;
  display: flex;
}

.game .row .column {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game .row .column .occupied {
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.game .row .column .occupied.blackPiece {
  background-color: var(--black-piece-color);
}

.game .row .column .occupied.whitePiece {
  background-color: var(--white-piece-color);
}

.game .row .column.whiteCase {
  background-color: var(--dark-wood-color);
}

.game .row .column.blackCase {
  background: repeating-linear-gradient(-45deg,
      var(--bright-wood-color),
      var(--bright-wood-color) 10px,
      var(--bright-wood-color-2) 10px,
      var(--bright-wood-color-2) 20px);
}

.game .row .column .occupied.blackPiece[king="true"] {
  background-image: url("./images/king.svg");
  background-size: cover;
}

.game .row .column .occupied.whitePiece[king="true"] {
  background-image: url("./images/king.svg");
  background-size: cover;
}

.game .row .column .occupied.blackPiece[selected="true"] {
  border-color: var(--ready-color);
  border-style: solid;
  border-width: 5px;
  outline-offset: -8px;
  box-shadow: 1px 1px 10px 0.1px rgba(0, 0, 0, 1)
}

.game .row .column .occupied.whitePiece[selected="true"] {
  border-color: var(--ready-color);
  border-style: solid;
  border-width: 5px;
  outline-offset: -8px;
  box-shadow: 1px 1px 10px 0.1px rgba(0, 0, 0, 1)
}

.readyToMove {
  background-color: var(--ready-color);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8)
}

.readyToEatCase {
  outline: solid 4px var(--ready-color);
  outline-offset: -4px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8)
}

/* modal style */
* {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);

  visibility: hidden;
  opacity: 0;
  transition: all 0.15s ease-out;
}

.effect {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bright-wood-color);
  border-radius: 20px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em;
  color: var(--black-piece-color);
}

.modal-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.modal-input-container input {
  padding: 5px;
}

.modal-input-container span {
  padding: 10px;
}

.modal-body p {
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.1em;
  color: var(--black-piece-color);
}

.modalClose {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: fixed;
  width: 40px;
  height: 40px;
}

.modalClose:before,
.modalClose:after {
  content: "";
  position: absolute;
  top: 18px;
  left: 0;
  right: 0;
  height: 4px;
  background: var(--bright-wood-color);
  border-radius: 4px;
}

.modalClose:before {
  transform: rotate(45deg);
}

.modalClose:after {
  transform: rotate(-45deg);
}

.modal .btn-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.modal .btn {
  background-color: var(--dark-wood-color);
  color: var(--white-piece-color);
  padding: 10px 40px;
  border: 1px solid var(--dark-wood-color);
  border-radius: 5px;
  opacity: 0.7;
  transition: 0.1s;
}

.modal .btn:hover {
  background-color: var(--dark-wood-color);
  opacity: 1;
}